<html>
  <head>
    <link rel="stylesheet" href="./app.css" />
  </head>
  <body>
    {% include './components/card/index.twig' with {
      heading: 'Card Heading',
      body: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget urna eu
      augue ultrices tempor in ut risus. Ut posuere nisi eu egestas maximus.
      Vivamus in viverra mauris. Nunc pulvinar hendrerit consectetur. Morbi
      sodales euismod viverra. Cras et mattis nunc, accumsan suscipit nisi.
      Donec risus ipsum, malesuada vel neque nec, venenatis egestas risus. Sed
      fermentum semper sapien at sodales. Maecenas mollis libero at ipsum
      accumsan porttitor.',
      button: {
        url: '#',
        text: 'Click me!'
      }
    } %}
  </body>
</html>
